main{
    display: grid;
    grid-template-columns: auto 70vw;
    margin:5%;
}

aside{
    display: flex;
    flex-direction: column;
    gap:2%;
}

aside form{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap:20px;
}

#container,#container2 {
    height: 400px;
    min-width: 310px;
}

.contenedorInfo{
    visibility: hidden;
    border: aquamarine solid 2px;
    padding: 2%;
}
.contenedorInfo h3{
    margin-left:2%;
}
.contenedorInfo p{
    text-align: center;
}
